<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZkSr25oU3VPv7JEud4dt9T8v5Bu7SJz0</string>
	<key>GCM_SENDER_ID</key>
	<string>1031193776248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tw.step.ecom-mvvm</string>
	<key>PROJECT_ID</key>
	<string>ecom-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-ios-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031193776248:ios:655a134b1efb42731a1d8d</string>
</dict>
</plist>